@import "variable";

body {
  font-family: Arial;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.intro {
  text-align: center;
}

.active {
  color: blue;
}

.like {
  cursor: pointer;
  border: 1px solid $gray;
  padding: 6px;
}
